<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desktop</title>
    <link rel="stylesheet" href="./css/desktop.css">
</head>

<body>
    <div id="desktop">
        <ul id="contex-menu-file">
            <li id="OPC_Rename">
                <div>
                    <img src="./imgs/lapis.png">
                    <label>Rename</label>
                </div>
            </li>
            <li id="OPC_Delete">
                <div>
                    <img src="./imgs/excluir.png">
                    <label>Delete</label>
                </div>
            </li>
        </ul>
    </div>
</body>
<script src="./script/gui_window.js"></script>
<script src="./script/gui_notify.js"></script>
<script src="./script/gui.js"></script>

</html>