<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bignumber.js/9.0.0/bignumber.min.js"></script>
    <title>Register</title>
    <link rel="stylesheet" href="./css/register.css">
</head>

<body>
    <div id="container">
        <h1>Nebula</h1>
        <img src="./svg/background_from1.svg" type="image/svg+xml" id="back_layer_4">
        <img src="./imgs/Background-Effects.png" id="back_layer_3">
        <img src="./svg/background_from1.svg" type="image/svg+xml" id="back_layer_2">
        <img src="./svg/background_from1.svg" type="image/svg+xml" id="back_layer_1">
        <form method="post" id="res_form" action="/r">
            <input type="email" name="email" value="h@gmail.com">
            <br>
            <input type="text" name="name">
            <br>
            <input type="password" name="password" value="45">
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <script>
        document.getElementById("res_form").addEventListener('submit', (e) => {
            e.preventDefault()
            var formData = new FormData(document.getElementById("res_form"))
            fetch('/r', {
                method: 'POST',
                body: formData
            }).then((response) => response.json()).then(data => {
                console.log(data)
                console.log(data.port_user)
                const socket = new WebSocket("ws://89.114.85.241:" + data.port_user)
                socket.onopen = () => { console.log("Connectado com sucesso") }
                socket.onmessage = (msg) => {
                    console.log(msg)
                }
            })
        })

    </script>
</body>
<script src="./script/socket_key.js"></script>

</html>