<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bignumber.js/9.0.0/bignumber.min.js"></script>
    <title>Register</title>
    <link rel="stylesheet" href="./css/register.css">
</head>

<body>
    <div id="container">
        <h1>Nebula</h1>
        <div class="loding" id="loding">
            <h2>Please Wait 2 or 3 minutes...</h2>
            <h3 id="status"></h3>
            <div class="loader"></div>
        </div>
        <img src="./svg/background_from1.svg" type="image/svg+xml" id="back_layer_7">
        <img src="./imgs/Background-Effects.png" id="back_layer_6">
        <img src="./svg/background_from1.svg" type="image/svg+xml" id="back_layer_5">
        <img src="./svg/background_from1.svg" type="image/svg+xml" id="back_layer_4">
        <img src="./imgs/Background-Effects.png" id="back_layer_3">
        <img src="./svg/background_from1.svg" type="image/svg+xml" id="back_layer_2">
        <img src="./svg/background_from1.svg" type="image/svg+xml" id="back_layer_1">
        <form method="post" id="res_form" action="/r">
            <input type="email" name="email" placeholder="email@email.com" id="email">
            <input type="text" name="name" placeholder="Name" id="name">
            <input type="password" name="password" placeholder="Password" id="password">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
<script src="./script/socket_key.js"></script>
<script src="./script/send_register.js"></script>
</html>